In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-macosx_10_9_x86_64.whl (11.4 MB)
     |████████████████████████████████| 11.4 MB 11.7 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/envs/NLPminiproject/lib/python3.8/site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/envs/NLPminiproject/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/NLPminiproject/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/NLPminiproject/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.4

In [3]:
import pandas as pd
import numpy as np

In [77]:
a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
c = [[13,14]]
d = [[15,16]]

b = pd.DataFrame(a,columns = ["01","02","03","04"], index = ["1","2","3"])
b = b.append(pd.DataFrame(c, columns = ["03","04"],index = ["4"]))
b

    01    02  03  04
1  1.0   2.0   3   4
2  5.0   6.0   7   8
3  9.0  10.0  11  12
4  NaN   NaN  13  14

In [52]:
b.iloc[0,1]

2

In [80]:
c = [[13,14]]
d = [[15,16]]
e = c+d
e

[[13, 14], [15, 16]]